[Wallpaper]
Encoding=UTF-8
File=../backgrounds/images/선군8경/대홍단의 감자꽃바다.jpg
Name=Potato flower sea of Daehongdan
Name[ko_KP]=대홍단의 감자꽃바다
ImageType=pixmap
