[Wallpaper]
Encoding=UTF-8
File=../backgrounds/images/선군8경/장자강의 불야성.jpg
Name=Nightless city onside Jangja river
Name[ko_KP]=장자강의 불야성
ImageType=pixmap
